body {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3{
  font-weight: 600;
  color: #000000;
}

h4, h5, h6, p {
  color: #000000;
  font-weight: 300;
}


img{
  width: 100%;  
}

.frame{
  margin-top: 20px;
  margin-bottom: 20px;
}


a{
  font-weight: 700;
  color: #7f7f7f;
  text-decoration: none;
}

a:hover{
  color: black;

  transition: ease-in .5s;  

  // filter: saturate(50);
  //   transition: all .7s;
}

.genre{
  text-transform: uppercase;
  font-size: .9em;
  color: #bcbabb;
}
.genre:hover{
  text-decoration: none;
}

.navigation-links {
  padding-left: 10px;
}

.titles{
  margin-top: 20px;
}

.subtitles{
  margin-top: 20px;
}


// Index / Layout
.nav-bar{
  background-color: #ffffff;
  box-shadow: 0px 1px 6px #bcbabb;
  height: 60px;
  position: sticky;
}

footer {

  padding-top: 20px;
  background-color: #ffffff;
  height: 60px;
}

#hero{
  height: 600px;
  width: 100%;
  z-index: -9999;
  object-fit: cover;
  // background-image: url(../images/live-set.jpg);
  color: #ffffff;
}

.claim{
  color: #ffffff;
  font-weight: 600;
  z-index: 999;
}

.more-info{
color: #ffffff;
}

//Events
#map{
  height: 60vh;
  background-color: #7f7f7f;
  width: 100%;
}

.event-view{
  height: 14rem;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
}


.button-top{
margin-top: 20px;
}

.button-down{
 margin-top: 20px; 
}

.titulo{
  color: #000000;
}


// // // Client Views
//streaming

#streaming{
  width: 100%;
  height: 600px;
}

.center-frame{
  margin-left: 15px;
}

