<section id="hero">

    <img src="./images/live-set.jpg">
    {{!-- 
    <div class="column">
        <div class="col-md-12 text-right align-text-bottom">
            <h1 class="claim">Accede a eventos</h1>
            <h4 class="more-info "><strong> En directo online </strong></h4>

        </div>
    </div> --}}


</section>