<div class="container frame">
    <h2>Nosotros</h2>
    <div class="row">
        <div class="col-md-6">

            <img src="http://es.safecreative.net/wp-content/uploads/2019/01/wes-hicks-456548-unsplash.jpg"
                alt="Guitars House - About Section">
            {{!-- 
            <img src="https://images.unsplash.com/photo-1481886756534-97af88ccb438?ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80"
                alt=""> --}}
        </div>
        <div class="col-md-4">
            <h3>
                Una aplicación para poner seguir disfrutando de tu música
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aspernatur sequi distinctio consequatur
                iusto facere fugit ad, voluptate assumenda id in commodi error sint ullam explicabo autem consequuntur
                eos omnis.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, officiis. Repellendus laborum unde
                inventore. Sapiente aliquid dicta eum. Repudiandae id eveniet, expedita vel saepe molestias excepturi
                accusamus soluta quidem veritatis!
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4 text-right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aspernatur sequi distinctio consequatur
                iusto facere fugit ad, voluptate assumenda id in commodi error sint ullam explicabo autem consequuntur
                eos omnis.
            </p>
            <h3 class="text-right">
                Sigue apoyando tus proyectos en vivo
            </h3>

        </div>
        <div class="col-md-8">

            <img src="https://images.unsplash.com/photo-1481886756534-97af88ccb438?ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80"
                alt="">
        </div>


    </div>


</div>